// fonts
@main-f: 'montserratmedium', sans-serif;
@alt-f: 'montserratsemibold', sans-serif;

// colors
@accent: #ed291c;
@text: #b7b7b7;
@bg: #FBFBFB;

// media quaries
@lg: 1199.1px;
@md: 991.1px;
@sm: 767.1px;
@xs: 576px;
@xxs: 375px;