// begin cards 
section.cards
    .cards__container
        ul.cards__list
            li.card
                .card__img
                    img(src="img/cards/card-img.jpg", alt="Card image")
                h6 Микроскоп
                .card__text
                    p Самый нужный инструмент в исследованиях. Простой и стильный.
                // begin rating 
                .card__rating.rating
                // end rating 
                button.button В корзину
            li.card
                .card__img
                    img(src="img/cards/card-img.jpg", alt="Card image")
                h6 Микроскоп
                .card__text
                    p Самый нужный инструмент в исследованиях. Простой и стильный.
                // begin rating 
                .card__rating.rating
                // end rating 
                button.button В корзину
            li.card
                .card__img
                    img(src="img/cards/card-img.jpg", alt="Card image")
                h6 Микроскоп
                .card__text
                    p Самый нужный инструмент в исследованиях. Простой и стильный.
                // begin rating 
                .card__rating.rating
                // end rating 
                button.button В корзину
            li.card
                .card__img
                    img(src="img/cards/card-img.jpg", alt="Card image")
                h6 Микроскоп
                .card__text
                    p Самый нужный инструмент в исследованиях. Простой и стильный. Самый нужный инструмент в исследованиях. Простой и стильный.
                // begin rating 
                .card__rating.rating
                // end rating 
                button.button В корзину
// end cards 