.header {
    padding: 8px 0;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 10;
}

.header__container {
    .container();
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav {
    .xxs-block({
        order: 1;
    });
}

.header__user {
    display: flex;
    align-items: center;
    > * {
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    .xxs-block({
        > * {
            &:not(:last-child) {
                margin-right: 10px;
            }
        }
    });
}